@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3 {
  font-weight: bold;
  @apply text-typography-500;
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-xl;
}
p,
li {
  @apply text-typography-100;
}
li {
  @apply text-lg;
}
li strong {
  @apply text-typography-500;
}
.loader {
  width: 24px;
  height: 24px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #f6a360;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
